@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to Skills Matrix Web</h1>
        <p>You can search for employees to match projects</p>
        <a asp-controller="App" asp-action="ProjectToEmployee" class="btn btn-lg btn-success">Goto Your Projects</a>
        <a asp-controller="App" asp-action="EmployeeToProject" class="btn btn-lg btn-success">Login as employee</a>
    </div>
</div>